.searchForm {
  width: 100vw;
  height: calc(100vh - 5px);
  overflow: hidden;
  position: relative;
}
.resultTable {
  height: inherit;
}


.resultTab {
  margin-left: -30px;
}

.resultBody {
  height: calc(100% - 81px);
  overflow-y: auto;
}

.searchForm .topUserBar {
  min-width: 670px;
  max-width: 900px;
  width: 50%;
  margin-left: 38px;
  margin-top: 5px;
}

.resultsList {
  padding: 10px 30px;
}

.resultTab li {
  display: inline-block;
  padding: 10px 15px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  margin: 0 1px;
}

.resultTab li:hover, .resultTab li.active {
  border-color: #0eaaa6;
  text-decoration: none;
}

.resultTab li.active a {
  color: black;
}
.resultsMap {
  height: 100%;
  position: relative;
}
.searchMapWrapper {
  width: calc(100% - 500px);
  padding: 10px;
  height: 100%;
}
.searchListWrapper {
  width: 500px;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  padding: 10px;
  overflow: auto;
}
.resultTab > ul {
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (max-width: 767px) {
  .resultTab ul {
    padding-left: 10px;
  }
  .resultTab {
    margin-left: -10px;
  }
  .searchForm {
    padding: 15px 5px;
  }
}
